html {
  height: 100vh;
  overflow: hidden;
}

body {
  background-image: radial-gradient(rgba(15, 15, 10, 0.1), rgba(15, 15, 10, 0.95)), url("../images/background.jpg");
  background-position: center;

  background-repeat: no-repeat;

}

.container-fluid {
  width: 90%;
  margin: 0 auto;
}

