<%= partial "layouts/stars", class:"wrapper"%>
<div class="container-fluid">
  <div class="banner">

    <div class="logo">
      <%= image_tag 'wave_logo.png' %>
      <div class="logo-hover"></div>
    </div>
    <h1>ROMAIN GROSSARD</h1>
    <h3>Freelance Web Developer</h3>
    <p>Bordeaux/France</p>
    <a href="tel:+33689525415">06 89 52 54 15</a>
    <a href="mailto:rgrossard@gmail.com">rgrossard@gmail.com</a>



  </div>





</div>




