<div class="banner">
  <div id="particles-js"></div>
  <div class="container-fluid">
    <div class="card">

      <h1>W&lt;a&gt;ve</h1>
      <div class="logo">
        <%= image_tag 'wave_logo.png' %>
      </div>
      <h2>Romain Grossard</h2>
      <h3>Freelance Web Developer</h3>
      <p>Bordeaux/France</p>
      <div class="contacts">
        <a class="button" id="button-5" href="tel:+33689525415">06&nbsp;89&nbsp;52&nbsp;54&nbsp;15</a>
        <%= mail_to "rgrossard@gmail.com", "rgrossard@gmail.com", class:"button", id:"button-5" %>
      </div>
    </div>


  </div>

</div>





