#particles-js
.banner
  .container-fluid
    .card
      %h1 W&lt;a&gt;ve
      .logo
        = image_tag 'wave_logo.png'
      %h2 Romain Grossard
      %h3 Freelance Web Developer
      %p Bordeaux/France
      .contacts
        %a#button-5.button{href: "tel:+33689525415"} 06 89 52 54 15
        = mail_to "rgrossard@gmail.com", "rgrossard@gmail.com", class:"button", id:"button-5"




