<div class="banner">
  <div class="container-fluid">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

    <div class="logo">
      <%= image_tag 'wave_logo.png' %>

    </div>
    <h1>ROMAIN GROSSARD</h1>
    <h3>Freelance Web Developer</h3>
    <p>Bordeaux/France</p>
    <div class="contacts">
      <%= mail_to "rgrossard@gmail.com", "<i class='fa fa-envelope'></i>&nbsp;&nbsp;rgrossard@gmail.com", class:"button", id:"button-5" %>
      <a class="button" id="button-5" href="tel:+33689525415"><i class="fa fa-mobile"></i>&nbsp;&nbsp;06 89 52 54 15</a>
    </div>


  </div>

</div>









